.match:hover {
    background-color: var(--bs-primary-bg-subtle);
}

.status-circle {
    width: 30px;
    height: 30px;
}

textarea {
    resize: vertical;
}

ul {
    list-style-type: none;
}

input ~ div {
    display: none;
}

input:invalid ~ div {
    display: block;
}
